In [7]:
import pandas as pd

df_labeled_train = pd.read_csv('../data/input/train_labeled.csv', index_col=0)
# cnt = 0
# col_list = []
# for col in df_labeled_train.columns:
#     if df_labeled_train[col].isnull().sum() == 0:
#         cnt += 1
#         col_list.append(col)
# print(cnt)

cnt = 0
for col in df_labeled_train.columns:
    if df_labeled_train[col].isnull().sum() == df_labeled_train.shape[0]:
        cnt += 1
        df_labeled_train.drop(col, axis=1, inplace=True)
for col in df_labeled_train.columns:
    df_labeled_train[col].fillna(df_labeled_train[col].mean(), inplace=True)

print(cnt)

# df_labeled_train = df_labeled_train[col_list]

200

In [8]:
from imblearn.over_sampling import SMOTE


sm = SMOTE(
    sampling_strategy={5: 1000},
    random_state=42, 
    k_neighbors=4)

X = df_labeled_train.drop('labels', axis=1)
y = df_labeled_train['labels']
X_res, y_res = sm.fit_resample(X, y)

X_res['labels'] = y_res
X_res['labels'].value_counts().T

/tmp/ipykernel_1020326/298034116.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X_res['labels'] = y_res

5    1000
0     300
3     300
2     300
1     300
4     300
Name: labels, dtype: int64

In [9]:
from pycaret.classification import ClassificationExperiment

s = ClassificationExperiment()
s.setup(
    X_res,
    target='labels',
    pca=True,
    pca_components=60,
    n_jobs=2,
)

model_list = [s.create_model(model) 
              for model 
              in ['lightgbm', 'xgboost', 'rf', 'et']]
tuned_model_list = [s.tune_model(model, optimize='f1') for model in model_list]
blender = s.blend_models(tuned_model_list)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [ ]:
df_test = pd.read_csv('../data/input/test.csv', index_col=0)
df_test = df_test[col_list]
df_test.drop('labels', axis=1, inplace=True)

df_pred = s.predict_model(blender, data=df_test)['prediction_label']
print(df_pred.value_counts().T)
df_pred.to_csv('../data/output/003_smote.csv')