# test から k クラス 5 に近いものを探す

- それぞのクラスタから 100 個ずつ探す
- umap で作った特徴量を使う

うまくいかない

In [5]:
import pandas as pd
import numpy as np
from pycaret.classification import ClassificationExperiment

# データの読み込み

df_labeled_train = pd.read_csv(
    "../data/input/train_labeled_lda.csv", index_col=0
)
df_unlabeled_train = pd.read_csv(
    "../data/input/train_unlabeled_lda.csv", index_col=0
)
df_test = pd.read_csv("../data/input/test_lda.csv", index_col=0)
print(df_labeled_train.shape, df_unlabeled_train.shape, df_test.shape)


# クラス5と擬似ラベルの付与
class_5_data = df_labeled_train[df_labeled_train["labels"] == 5].drop(
    "labels", axis=1
)
distances_list = []

for idx in range(5):
    distances = np.array(
        [
            np.linalg.norm(
                class_5_data.iloc[idx].values - df_test.iloc[i].values
            )
            for i in range(len(df_unlabeled_train))
        ]
    )
    distances_list.append(distances)

distances_list = np.array(distances_list)

df_unlabeled_train["labels"] = -1
for distances in distances_list:
    close_idx = np.argsort(distances)[:100]
    df_test.loc[close_idx + df_test.index[0], "labels"] = 5


df_class5 = df_test[df_test["labels"] == 5]
df_concat = pd.concat([df_labeled_train, df_class5], axis=0)
print(df_concat.value_counts("labels"))

# モデル5の学習
s = ClassificationExperiment()
s.setup(data=df_concat, target="labels", session_id=123)

model_list = [
    s.create_model(model) for model in ["lightgbm", "xgboost", "rf", "et"]
]
tuned_model_list = [s.tune_model(model, optimize="f1") for model in model_list]
blender = s.blend_models(tuned_model_list)

(1505, 10) (1250, 9) (1250, 9)
labels
0.0    300
1.0    300
2.0    300
3.0    300
4.0    300
5.0    105
dtype: int64

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

# unlabeled に pseudo labeling(確信度が高いもののみ)

In [11]:
df_pred = s.predict_model(blender, data=df_unlabeled_train)[['prediction_label', 'prediction_score']]
# 確信度が0.9以上のものを擬似ラベルとして付与
threshold = 0.65
df_pseudo = df_unlabeled_train[df_pred["prediction_score"] >= threshold]
df_pseudo["labels"] = df_pred[df_pred["prediction_score"] >= threshold]['prediction_label']
print(df_pseudo["labels"].value_counts())

df_concat = pd.concat([df_labeled_train, df_pseudo], axis=0)

s = ClassificationExperiment()
s.setup(data=df_concat, target="labels", session_id=123)

model_list = [
    s.create_model(model) for model in ["lightgbm", "xgboost", "rf", "et"]
]
tuned_model_list = [s.tune_model(model, optimize="f1") for model in model_list]
blender = s.blend_models(tuned_model_list)

[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
5    200
3    107
0     54
2      4
1      1
Name: labels, dtype: int64

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [29]:
df_pred = s.predict_model(blender, data=df_test.drop("labels", axis=1))[
    ["prediction_label", "prediction_score"]
]

threshold = df_pred[df_pred["prediction_label"] == 3][
    "prediction_score"
].quantile(0.35)

df_pred["prediction_label"] = df_pred.apply(
    lambda x: 5
    if (x["prediction_score"] < threshold and x["prediction_label"] == 3)
    else x["prediction_label"],
    axis=1,
).astype(int)

threshold = df_pred[df_pred["prediction_label"] == 0][
    "prediction_score"
].quantile(0.25)

df_pred["prediction_label"] = df_pred.apply(
    lambda x: 5
    if (x["prediction_score"] < threshold and x["prediction_label"] == 0)
    else x["prediction_label"],
    axis=1,
).astype(int)

threshold = df_pred[df_pred["prediction_label"] == 1][
    "prediction_score"
].quantile(0.25)

df_pred["prediction_label"] = df_pred.apply(
    lambda x: 5
    if (x["prediction_score"] < threshold and x["prediction_label"] == 1)
    else x["prediction_label"],
    axis=1,
).astype(int)



print(df_pred["prediction_label"].value_counts())
df_pred["prediction_label"].to_csv("../data/output/knn_lda_cali.csv", header=["Label"])

[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=7, subsample_freq=0 will be ignored. Current value: bagging_freq=7
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
5    734
4    118
0    105
3    101
1    100
2     92
Name: prediction_label, dtype: int64